<body>
<div class="container">
  <div id="content">
    <form class='form-inline'>
      <div class="input-group">
        <input #inputElement id='search' type='text' class="form-control search-form" placeholder="Type here to search">
        <span class="input-group-btn" style="width:39px">
              <button disabled color="primary" id="search-this" type="button" class="pull-right btn btn-default search-btn">
                  <i class="fa fa-search"></i>
              </button>
            </span>
      </div>
    </form>
  </div>
</div>
</body>
